{% extends "templates/base/base.html" %}
{% block body %}
{% include "templates/header/header.html" %}
<link rel="stylesheet" href="./css/free_class.css">
<section id="registration-section" class="section_regis">
    <div class="container_regis">
        <div class="registration-form">
            <h1>Registration Form</h1>
            <form id="registration-form">
                <div class="form-group">
                    <label for="fullName">Full Name:</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" required>
                </div>

                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="contactNumber">Contact Number:</label>
                    <input type="tel" class="form-control" id="contactNumber" name="contactNumber" required>
                </div>

                <div class="form-group">
                    <label for="appointmentDate">Appointment Date:</label>
                    <input type="date" class="form-control" id="appointmentDate" name="appointmentDate" required>
                </div>

                <div class="form-group">
                    <label for="appointmentTime">Appointment Time:</label>
                    <input type="time" class="form-control" id="appointmentTime" name="appointmentTime" required>
                </div>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </div>
    </div>
</section>
<script src="./js/free_class.js"></script>
{% include "templates/footer/footer.html" %}
{% endblock %}
